<div class="dialog-container">
  <h1 mat-dialog-content>
    <strong>{{ formName }}</strong>
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="productForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Name</mat-label>
        <input type="text" matInput formControlName="name" />
        <mat-error
          *ngIf="
            productForm.get('name')?.touched &&
            productForm.get('name')?.errors
          "
        >
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Product Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="fruits"> fruits </mat-option>
          <mat-option value="vegetables"> vegetables </mat-option>
          <mat-option value="electronics"> electronics </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            productForm.get('category')?.touched &&
            productForm.get('category')?.errors
          "
        >
          Category is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="
            productForm.get('date')?.touched &&
            productForm.get('date')?.errors
          "
        >
          Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <label> <h1>Product Freshness</h1></label>
      <mat-radio-group formControlName="freshness" class="example-radio-group">
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let fresh of productFreshness"
          [value]="fresh"
        >
          {{ fresh }}
        </mat-radio-button>
        <mat-error
          *ngIf="
            productForm.get('freshness')?.touched &&
            productForm.get('freshness')?.errors
          "
        >
          Freshness is <strong>required</strong>
        </mat-error>
      </mat-radio-group>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Price</mat-label>
        <input
          formControlName="price"
          (keydown)="keyCheck($event)"
          type="number"
          matInput
        />
        <mat-error
          *ngIf="
            productForm.get('price')?.touched &&
            productForm.get('price')?.errors
          "
        >
          Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Comments</mat-label>
        <textarea formControlName="comment" matInput></textarea>
        <mat-error
          *ngIf="
            productForm.get('comment')?.touched &&
            productForm.get('comment')?.errors
          "
        >
          Comment is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="row1" formArrayName="phoneNumber">
        <div
          *ngFor="let user of formDetails; let i = index"
          class="form-field-container"
        >
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>PhoneNumber</mat-label>
            <input
              type="number"
              (keydown)="keyCheck($event)"
              matInput
              [formControlName]="i"
            />
            <mat-error *ngIf="productForm.get('phoneNumber')?.touched"
              >Phone no required</mat-error
            >
          </mat-form-field>
          <button
            class="dbutton"
            [disabled]="checkLength()"
            mat-raised-button
            color="warn"
            (click)="deletPhoneNumber(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button
          mat-raised-button
          color="primary"
          (click)="pushNewPhoneNumber()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="dialogactions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="productForm.invalid"
      (click)="postProductDetails()"
    >
      {{ butoonName }}
    </button>
    <button mat-raised-button [routerLink]="['/dashboard/list']" color="warn">Cancel</button>
  </div>
</div>
