.submit{
   margin-left: 80%;
   margin-top: 200px;
}


.dialog-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    //overflow-y: scroll;
    max-height: 500px; /* Set a maximum height for the container */
   // overflow-y: scroll; /* Enable vertical scrolling */
    padding: 10px; /* Add some padding for spacing */
    border: 1px solid #ccc;
}
.edit{
    margin-top: 10px;
}